.home-container {
  
max-width: 1200px;
   
   
}
.posts-grid {
    border: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.resturant-card{
   
    box-shadow: trasform 0.3s ease;
    background-color: rgb(29, 81, 170);
    color: #e1f5fe;
    border-radius: 30px;
}



.card-image {
  
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

.card-body {
   
    padding: 50px;
   

}

.category {
    background: #e1f5fe;
    color: #019b03;
    padding: 4px 8px;
    
   
   
}

.read-more {
    display: inline-block;
   
    color: #3d00f3;
    text-decoration: none;
    font-weight: bold;
}