.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
.menuNav{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    cursor: pointer;
    font-size: 35px;
}
.title{
    font-size: 75px;
    font-weight: bold;
    color: #b32323;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
